<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>
<%= turbo_stream_from "user_#{current_user.id}" %>
<%= render "fancy" %>

<div class="dashboard-box">
  <h1>KBC Dashboard</h1>
  <div id="logout_btn"><%= button_to "Log out", session_path, method: :delete %></div>

  <div id="dashboard-my-games" class="fancy-section">
    <%= render "dashboard/my_games", games: @my_games %>
  </div>

  <div id="dashboard-waiting-games" class="fancy-section">
    <%= render "dashboard/waiting_games", games: @waiting_games, current_user: current_user %>
  </div>

  <div id="dashboard-completed-games" class="fancy-section">
    <%= render "dashboard/completed_games", games: @completed_games %>
  </div>

  <div class="fancy-section">
    <%= link_to "Open a new table", new_game_path %>
  </div>
</div>
