<%= turbo_frame_tag("game-board") do %>
  <div id="board">
    <div id="map-container">
      <ul class="hex-map-container">
        <!-- board sections -->
        <li id="map-top-left"     class="quadrant quadrant-7<%= @game.board.map[0].flipped > 0 ? " flipped" : "" %>"></li>
        <li id="map-top-right"    class="quadrant quadrant-6<%= @game.board.map[1].flipped > 0 ? " flipped" : "" %>"></li>
        <li id="map-bottom-left"  class="quadrant quadrant-5<%= @game.board.map[2].flipped > 0 ? " flipped" : "" %>"></li>
        <li id="map-bottom-right" class="quadrant quadrant-1<%= @game.board.map[3].flipped > 0 ? " flipped" : "" %>"></li>
        <!-- cell content -->
        <%= render "board_contents" %>
      </ul>
    </div>
  </div>
<% end %>
