<%= turbo_frame_tag("game-board") do %>
  <div id="board">
    <div id="map-container">
      <ol class="hex-map-container">
        <!-- board sections -->
        <li class="quadrant quadrant-7<%= @game.board.map[0].flipped > 0 ? " flipped" : "" %>"></li>
        <li class="quadrant quadrant-6<%= @game.board.map[1].flipped > 0 ? " flipped" : "" %>"></li>
        <li class="quadrant quadrant-5<%= @game.board.map[2].flipped > 0 ? " flipped" : "" %>"></li>
        <li class="quadrant quadrant-1<%= @game.board.map[3].flipped > 0 ? " flipped" : "" %>"></li>
        <!-- cell content -->
      </ol>
    </div>
    <%= render "board_contents" %>
  </div>
<% end %>
