<% my_turn = n == 0 && player.id == game.current_player.id %>
<%= content_tag :div, class: "handle #{' my-turn' if my_turn }" do %>
  <% if player.id == game.current_player.id %>
    <%= content_tag :span, class: "player-spinner" do %>
      <%= image_tag "tape-reel.svg" %>
    <% end %>
  <% end %>
  <%= player.player.handle %>
  <span class="player-order"><%= player.order %></span>
<% end %>
<% if n == 0 %>
  <%= button_to("End turn", end_turn_game_path(game), disabled: !(my_turn && engine.turn_endable?)) %>
  <%= button_to("Undo", undo_move_game_path(game), disabled: !(my_turn && engine.undo_allowed?)) %>
<% end %>
<% display_card = (n == 0 || (game.current_player_id == player.id)) ? player.hand : "B" %>
<%= content_tag :span, display_card,
  class: "player-card card-#{display_card}" %>
<%= content_tag :span, nil, class: "settlement-icon player-#{player.order}" %>
x
<%= content_tag :span, "#{player.supply["settlements"]}", class: "settlement-count" %>
<% score = local_assigns.fetch(:scores, nil)&.dig(player.order.to_s, "total") %>
<% if score %>
  <span class="player-score"><%= score %> pts</span>
<% end %>
<%= render partial: "games/tiles", locals: { game:, player:, n:, engine: } %>

