<% my_turn = my_player&.id == game.current_player&.id %>

<% content_for :sound_controls do %>
  <span id="audio-unlock-prompt" title="Click anywhere to enable sounds">&#128265; click for sound</span>
  <button id="mute-btn" type="button" aria-label="Toggle mute">&#128266;</button>
  <input id="volume-slider" type="range" min="0" max="1" step="0.01" aria-label="Volume">
<% end %>

<% content_for :turn_state do %>
  <%= render partial: "games/turn_state", locals: { game:, engine:, my_turn: } %>
<% end %>

<% content_for :end_turn do %>
  <%= render partial: "games/end_turn", locals: { game:, engine:, my_turn: } %>
<% end %>

<% if my_player && !my_player.resigned? %>
  <% content_for :menu_items do %>
    <li>
      <%= link_to "Resign this game", resign_game_path(game),
          data: { turbo_method: :post,
                  turbo_confirm: "Are you sure you want to resign? Other players will continue playing.",
                  action: "click->menu#close" } %>
    </li>
  <% end %>
<% end %>

<div id="game-area">
    <main>
      <%= render partial: "games/scoring", locals: { game: } %>
      <div id="board-viewport">
        <div id="board">
          <%= render partial: "games/board", locals: { game: } %>
        </div>
      </div>
    </main>
    <aside>
      <%= render partial: "games/players", locals: { game:, engine:, scores: } %>
    </aside>
    <section id="log-chat" data-controller="chat">
      <div id="log" data-chat-target="log">
        <%= render partial: "games/log", locals: { game: } %>
      </div>
      <div class="divider" data-chat-target="divider" data-action="mousedown->chat#startDrag"></div>
      <div id="chat" data-chat-target="panel">
        <%= render partial: "games/chat", locals: { game:, my_player: } %>
      </div>
    </section>
</div>
