<div id="map-container">
  <ul class="hex-map-container">
    <!-- board sections -->
    <li id="map-top-left" class="quadrant quadrant-7<%= @game.board.map[0].flipped > 0 ? " flipped" : "" %>"></li>
    <li id="map-top-right" class="quadrant quadrant-6<%= @game.board.map[1].flipped > 0 ? " flipped" : "" %>"></li>
    <li id="map-bottom-left" class="quadrant quadrant-5<%= @game.board.map[2].flipped > 0 ? " flipped" : "" %>"></li>
    <li id="map-bottom-right" class="quadrant quadrant-1<%= @game.board.map[3].flipped > 0 ? " flipped" : "" %>"></li>
    <% 20.times do |row| %>
      <% 20.times do |col| %>
        <% terrain = @game.board.terrain_at(row, col).downcase %>
        <% t = terrain.length > 1 ? "hex-map-image #{terrain}-hex" : "" %>
        <%= content_tag :li,
          id: "map-cell-#{row}-#{col}",
          class: "grid-item terrain-#{terrain} #{t}",
          style: "grid-area: #{row * 3 + 1} / #{col * 2 + 1 + row % 2} / span 4 / span 2;" do %>
            <% content = @game.board.content_at(row, col) %>
            <% if content %>
              <% Rails.logger.info " at #{row},#{col} found #{content.qty rescue 'NA'} of #{content.class}" %>
              <%= render partial: "cell_content", locals: {content: content} %>
            <% end %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
