<div id="players-area">
    <% players = @game.game_players.sort_by(&:order) %>
    <% offset = players.find { |p| p.player == current_user }.order %>
    <% players.size.times do |n| %>
        <% # Always display current user first %>
        <% index = (n + offset) % players.size %>
        <% player = players[index] %>
        <div class="player-area">
            <%= content_tag :div,
                player.player.handle,
                class: "handle#{ @my_turn ? ' my-turn' : '' }"
            %>
            <%= button_to("End turn", end_turn_game_path(@game)) if n == 0 && @my_turn %>
            <%= content_tag :span, player.hand, class: "player-card card-#{player.hand}" %>
            <%= content_tag :span, nil, class: "settlement-icon player-#{player.order}" %>
            <%= content_tag :span, "x#{player.supply["settlements"]}", class: "settlement-count" %>
            <%= render "tiles" %>
        </div>
    <% end %>
</div>
