<div id="players-area">
  <%= render partial: "games/last_updated_at", locals: { move_count: game.move_count } %>
  <div id="moves-area">
    <%= form_with url: action_game_path(game),
      id: :action_form do |f| %>
      <%= f.text_field :tile %>
      <%= f.text_field :build_cell, placeholder: "Build cell" %>
      <%= f.text_field :move_source, placeholder: "Move from" %>
      <%= f.text_field :move_destination, placeholder: "Move to" %>
      <%= f.submit "Action", id: "action_submit" %>
    <% end %>
  </div>
  <%# Language note: "player" is a GamePlayer model; "player.player" is a User %>
  <% players = game.game_players.sort_by(&:order) %>
  <% Rails.logger.debug "CU: #{current_user.inspect}" %>
  <% offset = current_user ? players.find { |p| p.player == current_user }.order : 0 %>
  <% players.size.times do |n| %>
    <%# Always display current user first %>
    <% index = (n + offset) % players.size %>
    <% player = players[index] %>
    <% if n == 0 && current_user == player.player %>
      <%= turbo_stream_from "game_player_#{player.id}_private" %>
    <%# else %>
      <%# = turbo_stream_from "game_player_#{player.id}" %>
    <% end %>
    <div class="player-area">
      <%= render partial: "games/game_player", locals: { game:, player:, n: } %>
    </div>
  <% end %>
  <div class="player-area">
    <%= render partial: "games/common_resources", locals: { game: game } %>
  </div>
</div>
