<%= content_tag :div,
  class: ["quadrant",
    index.odd? ? "right" : "left",
    index >=2 ? "bottom" : "top"
    ].compact.join(" ") do %>
  <% 10.times do |row| %>
    <% if row.odd? %>
      <div class="spacer"></div>
    <% end %>
    <% 10.times do |col| %>
      <% board_row = row + 10 * (index / 2) %>
      <% board_col = col + 10 * (index % 2) %>
      <% terrain = quadrant ? quadrant.terrain_at(row, col).downcase : "" %>
      <% content = game.board.content_at(board_row, board_col) %>
      <%# div for the hex %>
      <%= content_tag :div,
        id: "map-cell-#{board_row}-#{board_col}",
        class: [
          "hex",
          "terrain-#{terrain}",
          row.even? ? "even" : "odd",
          board_col < 10 ? "left" : "right",
          ].compact.join(" ") do %>
        <% if terrain == "s" && !content.is_a?(Tiles::Tile) %>
          <% silver_kind = quadrant.silver_hex_kind(row, col) %>
          <%= content_tag :div, nil, class: silver_kind == "Nomad" ? "terrain-nomad" : "terrain-castlehex" %>
        <% end %>
        <% if content %>
          <%# div for the hex content %>
          <%= content_tag :div, class: "cell-content" do %>
            <%# show the pieces on top of the board %>
            <% case content %>
            <% when Tiles::Tile %>
              <% content_class = content.tile_css_class %>
              <%= content_tag :div, nil, class: "tile-container #{content_class}" do %>
                <%# show quantity if any %>
                <% if content.respond_to? :qty %>
                  <%= content_tag :div, content.qty, class: "tile-counter" %>
                  <% content.qty.times do |n| %>
                    <%= content_tag :div, nil, id:"tile-#{n+1}", class:"tile location-#{content_class}" %>
                  <% end %>
                <% end %>
              <% end %>
              <div class="tile-tooltip"><%= content.description.html_safe %></div>
            <% when Settlement %>
              <%= render "games/settlement", color: player_color(content.player), css_class: "hex-settlement" %>
            <% when Wall %>
              <%= content_tag :div, nil, class: "hex-wall" %>
            <% else %>
              <%= content_tag :div, nil, class: "hex-mystery" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <% if row.even? %>
      <div class="spacer"></div>
    <% end %>
  <% end %>
<% end %>
