<div class="player-tiles">
  <% marked_active_type = nil %>
  <% (player.tiles || []).each do |tile| %>
    <% next unless "Tiles::#{tile["klass"]}".safe_constantize %>
    <% type = tile["klass"].delete_suffix("Tile").downcase %>
    <% used = tile["used"] %>
    <% active = my_turn && !used && game.current_action["type"] == type && marked_active_type != type %>
    <% marked_active_type = type if active %>
    <% activatable = my_turn && engine.tile_activatable?(tile) %>
    <% state = active ? "tile-active" : used ? "tile-used" : activatable ? "tile-activatable" : "tile-inactive" %>

    <% if activatable %>
      <%= button_to select_action_game_path(game), params: { action_type: type } do %>
        <div class="player-tile <%= state %>" title="<%= type.capitalize %>">
          <div class="tile-container <%= type %>"></div>
        </div>
      <% end %>
    <% else %>
      <div class="player-tile <%= state %>" title="<%= type.capitalize %>">
        <div class="tile-container <%= type %>"></div>
      </div>
    <% end %>
  <% end %>
</div>
